@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
    --very_dark_gray: hsl(0, 0%, 17%);
    --button: #3f3f3f;
    --dark_gray: hsl(0, 0%, 59%);
}

body {
    height: 98vh;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    background: white;
}

main {
    background: url('../../images/pattern-bg.png') no-repeat;
    background-position: center 0;
    background-size: cover;
    width: auto;
    height: 280px;
    box-shadow: 0 0 0 0 black;
}

h1 {
    color: white;
    font-size: 2rem;
    font-weight: 500;
}

h2 {
    font-size: .8rem;
    color: var(--dark_gray);
    text-transform: uppercase;
    letter-spacing: .2rem;
}

span {
    font-size: 1.8rem;
    font-weight: 500;
}

hr {
    border: none;
    border-left: 1px solid black;
}

.search {
    width: 550px;
    height: 60px;
    margin-top: 1.2rem;
}

.search .btn {
    background: url('../../images/icon-arrow.svg') no-repeat;
    background-position: center;
    background-size: .9rem;
    background-color: black;
    padding-inline: 2rem;
}

.search .btn:active {
    background-color: var(--button);
}

.info {
    display: flex;
    padding: 3rem;
    background-color: white;
    top: 200px;
    width: 1100px;
    height: auto;
    text-align: left;
    z-index: 2;
}

#map {
    z-index: 1;
    height: 73%;
    width: auto;
}

@media only screen and (max-width: 1120px) {
    h1 {
        font-size: 1.6rem;
    }

    h2 {
        font-size: .7rem;
    }

    span {
        font-size: 1.2rem;
    }

    .search {
        width: 90%;
        margin-top: 1rem;
    }

    .info {
        display: block;
        width: 90%;
        height: auto;
        padding: 1.2rem;
        text-align: center;
        top: 155px;
    }
}

/* provided */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}