@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --soft_blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --main_BG: hsl(217, 54%, 11%);
    --card_BG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%)
}

* {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    background-color: var(--main_BG);
    color: var(--White);
}

h3 {
    font-weight: 600;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    transition: .2s ease;
}

p,
span {
    color: var(--soft_blue);
    font-weight: 300;
}

hr {
    border: none;
    border-top: 1px solid var(--line);
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.card {
    background: var(--card_BG);
    width: 300px;
    height: auto;
    padding: 1.5rem;
    border-radius: .5rem;
}

.content {
    height: 98vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: auto;
    height: 300px;
}

.thumbnail {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: .5rem;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .3s ease;
    background: var(--cyan);
    border-radius: .5rem;
}

.view {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .5s ease;
}

.container:hover .overlay {
    opacity: .6;
}

.container:hover .view {
    opacity: 1;
}

.title:hover {
    color: var(--cyan);
}

.desc {
    margin-bottom: 1.2rem;
}

.info {
    display: flex;
    position: relative;
}

.time {
    position: absolute;
    right: 0;
}

.ETH {
    font-weight: 600;
    color: var(--cyan);
}

.pfp {
    width: 35px;
    border-radius: 50%;
    border: 1px solid white;
    vertical-align: middle;
    margin-right: 1rem;
}

.name {
    color: var(--White);
    transition: .2s ease;
}

.name:hover {
    color: var(--cyan);
}

/* Included */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}